<div id="<%= dom_id link %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">リンク名:</strong>
    <%= link.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">リンク先のアドレス:</strong>
    <%= link_to link.url, link.url, class: "font-bold text-blue-400 w-4/5 hover:underline text-blue-500"%>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">リンクの説明文:</strong>
    <%= link.description %>
  </p>

</div>
