<%= form_with(model: @micropost, url: micropots_create_path ) do |f| %>
  <div><%= f.label :content, "投稿内容" %></div>
  <div><%= f.text_area :content, placeholder: "投稿を入力", size: "40*80" %></div>

  <%= f.submit t('dictionary.button.update'),  class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
<% end %>
