/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* flash_message */
.flash-message {
  font-weight: bold;
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice,
.flash-message.success {
  color: #1f8dee;
}

.flash-message.alert,
.flash-message.failure {
  color: #dd0808;
}

/* micropost */
.left-column {
  width: 35%;
}

.right-column {
  width: 75%;
}
